.card-content{
	min-height: 250px;
}

.card-action{
	height: 70px;
	text-align: center;
}

#recap{
	margin-top: 2em;
	background-color: #bdbdbd;
	width: 160px;
}

.selected{
	opacity: 0.5;
}

i{
  color: brown;
  cursor: pointer;
}

.cm-nav{
	background-color: tan;
	width:100%;
	text-align:center;
	position:relative;
}

.cm-nav-wrapper{
	left:-5%;
}

.cm-opt-unselected{
	color:darkolivegreen;
}

.cm-opt-selected{
	color: #9e9e9e;
}

.cm-menu-row{
	background:skyblue;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}